
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
}
.Add{
    border: 1px solid rgb(64, 9, 9);
    border-radius: 0.5em;
    background-color: rgb(255, 255, 255);
    transition: 1s;
}
.Add:hover{
    background-color: red;
    transition: 1s;
}
.Sticky{
    position: sticky;
    top: 0;
    z-index: 3;
}