*{
    padding: 0%;
    margin: 0%;
    text-align: center;
}
.container{
    background-color: brown;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5,1fr) ;
    /* grid-template-rows: 1fr 3fr; */
    grid-auto-rows: 2fr;
    gap: 10px;
}
.item{
    background-color: black;
    color: #fff;
    padding: 15px;   
}
.item:first-child{
    /* grid-row-start: 2;
    grid-row-end: 3; */
    /* grid-row: 2/3; */
    /* grid-row: 2/span 1; */

    /* grid-column-start:2;
    grid-column-end: 5; */
    /* grid-column: 2/5; */
    /* grid-column: 2/span 3; */

    grid-area: 1/1/span 3/span 3;
}
